body {
    /* puts the whole body into a box that is resizeable to the view window*/
    display: flex;
    justify-content: center ;
    width: 100vw;
    height: 100vh;
}

.title {
    /*Adds a background image to the title section on the left side of the page*/
    /*centers the Main title with the logo to the view window*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-image: url(img/guillaume-briard-lSXpV8bDeMA-unsplash.jpg) ;
    background-size: cover;
    background-position: center;
}

.title p {
    color: white;
}

.titleBar {
    height: 75px;
    width: 50vw;
    background-color: rgb(110, 99, 99);
    opacity: 0.6;
    display: flex;
    justify-content: center;
    color: white;
}

.titleBar img {
    width: 50px;
    color: black;
    margin: 10px;
}

.container{
    /*creates a box for the content on the right side of the screen and sets background color*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    background-color: rgb(226, 218, 218);
}

.description {
    font-size: 24px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.form {
    /*styles the white box in the center right of the screen where the form inputs are located*/
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 24px;
    font-weight: bold;
}

.form h3 {
    margin-left: 50px;
}

.form form {
    /*creates a box to separate the form elements from the rest of the data on the right side of the screen*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formData {
    /*creates a box for the specific form Data*/
    height: 375px;
    width: 50vw;
    background-color: rgb(241, 239, 239);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.formLeft, .formRight {
    /*box for the form inputs on the left and right*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    /*styles the form input boxes*/
   border: 2px solid #000;
   margin-bottom: 15px;
   padding: 5px;
   border-radius: 5px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

.createAccount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    margin-left: 50px;
    margin-top: 50px;
}

button {
    /*Styles the Submit button for the form*/
    height: 50px;
    font-size: 24px;
    background-color: #97ad83;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom:20px;
    border-radius: 10px;
}